/**
 * @name Zenbones Discord
 * @description Allows you to customize Discord's native Color Scheme.
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @BDEditor DiscordRecolor
 * YES I USED AN ONLINE EDITOR SO WHAT
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 44,54,60;
  --accentcolor2: 214,205,201;
  --linkcolor: 203,217,227;
  --mentioncolor: 207,193,186;
  --textbrightest: 44,54,60;
  --textbrighter: 44,54,60;
  --textbright: 44,54,60;
  --textdark: 44,54,60;
  --textdarker: 44,54,60;
  --textdarkest: 44,54,60;
  --font: gg sans;
  --backgroundaccent: 214,205,201;
  --backgroundprimary: 240,237,236;
  --backgroundsecondary: 240,237,236;
  --backgroundsecondaryalt: 240,237,236;
  --backgroundtertiary: 207,193,186;
  --backgroundfloating: 240,237,236;
  --settingsicons: 0;
}

/* Any custom CSS below here */


